<div id="foot">
    <div id="foot-first">
        <p>Get Expert Beauty Insight & Offers</p>
        <input type="email" name="" id="email" placeholder="EMAIL ADDRESS">
        <button onclick="mailSent()">&rarr;</button>
        <div>To learn more about how we use your information and your rights, see Privacy Note</div>
        <div class="copyright">Copyright 2021 bluemercury. All Rights Reserved.</div>
    </div>
    <div>
        <p>BLUEMERCURY</p>
        <p>Our Company</p>
        <p>Store Locator</p>
        <p>Spa Menu</p>
        <p>Press</p>
        <p>Careers</p>
    </div>
    <div>
        <p>MY ACCOUNT</p>
        <p>My Account</p>
        <p>Blue Rewards</p>
    </div>
    <div>
        <p>CUSTOMER SERVICE</p>
        <p>Contact Us</p>
        <p>Help & FAQ</p>
        <p>Offers</p>
        <p>Klarna</p>
    </div>
    <div>
        <p>RESOURCES</p>
        <p>Terms & Conditions</p>
        <p>Privacy Policy</p>
        <p>Accessibility</p>
        <p>COVID-19 Updates</p>
    </div>
</div>