<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs", {title: "Sign Up"}) %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/shop.css">
    <style>
      /* Hide expandable content by default */
      .expandable {
        visibility: collapse;
      }

      /* Show hidden content when the checkbox is checked */
      #expand-toggle:checked ~ * .expandable {
        visibility: visible;
      }
    </style>
  </head>

  <body>
    <!-- Header -->
    <%- include("./partials/header.ejs") %>
    <!-- Header -->
    <div id="bluewards"></div>

    <div>
      <!-- onsubmit="bluemercuryUser(event) -->
      <form id="create_customer" class="Form" action="/signup" method="post">
        <header class="Form_header">
          <h1>CREATE ACCOUNT</h1>
          <p>Complete the form below to create a bluemercury.com account.</p>
        </header>

        <div class="Form_Box">
          <input
            id="CreateAccountEmail"
            type="email"
            class="Form_Ip"
            name="email"
            aria-label="Email"
            placeholder="Email*"
            required="required"
          />
          <label class="Form_Invisible">Email</label>
        </div>
        <div class="Form_Box">
          <input
            id="CreateAccountFirstName"
            type="text"
            class="Form_Ip"
            name="username"
            aria-label="First Name"
            placeholder="First Name*"
            required="required"
          />
          <label class="Form_Invisible">First Name</label>
        </div>
        <div class="Form_Box">
          <input
            id="Creat_LastName"
            type="text"
            class="Form_Ip"
            name="last_name"
            placeholder="Last Name*"
            required="required"
          />
          <label class="Form_Invisible">Last Name</label>
        </div>
        <div class="Form_Box">
          <input
            id="Creat_Password"
            type="password"
            class="Form_Ip"
            name="password"
            placeholder="Password*"
            required="required"
          />
          <label class="Form_Invisible">Password</label>
        </div>

        <p class="Note">*Indicates Required Field</p>
        <div class="Offer_box">
          <input id="expand-toggle" type="checkbox" />
          <div class="logo_box">
            <span class="Join">Join</span>
            <span class="Rewards">
              <span class="Blue">Blue</span>
              Rewards
            </span>
          </div>

          <div class="loyalty_info">
            <span style="margin-top: 5px">
              Earn $10 for every $250 you spend, plus FREE birthday gifts &amp;
              treatments!
            </span>
          </div>
        </div>

        <div>
          <div class="centre" style="color: #666666">
            <p>
              To learn more about how we use your information and your rights,
              see
              <a href="" style="color: #666666">Privacy Note</a>
            </p>
          </div>
        </div>

        <input type="submit" class="End_btn" value="create account" />
        <!-- <span class="" style="width: 300px">Create account</span> -->

        <div class="centre">
          <span>Already have a bluemercury.com account?</span>
          <a href="sign_in.html">Sign In</a>
        </div>
      </form>
    </div>

    <hr />

    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>
    <!-- Footer -->
    
  </body>
</html>
<script src="js/form.js"></script>
<script src="js/header.js"></script>
<script src="js/shop.js"></script>
