<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs", {title: "Recover Password"}) %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/shop.css">
</head>

<body>

    <!-- Header -->
    <%- include("./partials/header.ejs") %>
    <!-- Header -->

    <div id="bluewards"></div>

    <form action="/forgetpass" method="post" class="Form recover-form" id="forgot-pass">
        <!-- {{ method_field('PATCH') }} -->
        <!-- Heading -->
        <header class="Form_header">
            <h1>RECOVER PASSWORD</h1>
            <p>Please enter your email:</p>
        </header>
        <!-- Email i/p box -->
        <div class="Form_Box">
            <input id="Email_recover" type="email" name="email" class="Form_Ip" placeholder="Email">
            <label class="Form_Invisible" for="mail_recover">Email</label>
        </div>
        <div class="Form_Box">
            <input type="password" name="password" class="Form_Ip" placeholder="New Password">
            <label class="Form_Invisible" for="mail_recover">Email</label>
        </div>
        <!-- Recovery button -->
        <input type="submit" style="margin-top: 0px;" class="End_btn" >
        <!-- note -->
        <div class="centre">
            <span>Remember your password?</span>
            <a href="/login">Back to login</a>
        </div>
    </form>

    <hr />

    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>
    <!-- Footer -->
</body>

</html>
<!-- <script src="js/form.js"></script> -->
<script src="js/header.js"></script>
<script src="js/shop.js"></script>