<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/shop.css">
</head>

<body onload="slideShow()">
    <!-- Header Starts Here -->
    <header>
        <div>
            <div id="heading_first_row">
                <div class="heading_one">
                    <div>
                        <img src="https://image.flaticon.com/icons/png/128/927/927667.png" /><a href=""
                            target="_blank"></a>
                    </div>
                    <div>STORE & SPA LOCATOR</div>
                </div>
                <div class="heading_one">
                    <div>
                        <img
                            src="https://t4.ftcdn.net/jpg/04/41/89/73/240_F_441897335_o5l9z54efVNgBtGnvjMdUVPK2W94k95M.jpg" />
                    </div>
                    <div>WISHLIST</div>
                </div>
                <div class="heading_one">
                    <div>
                        <img src="https://image.flaticon.com/icons/png/128/622/622669.png" />
                    </div>
                    <div>SEARCH</div>
                </div>
                <div id="click-log" class="heading_one">
                    <div>
                        <img
                            src="https://static.thenounproject.com/png/3144376-200.png" />
                    </div>
                    <div>SIGN IN/UP</div>
                </div>
                <div class="heading_one" onclick="window.location.href = 'cart.html'">
                    <div>
                        <img src="https://image.flaticon.com/icons/png/128/687/687259.png" />
                    </div>
                    <div>BAG</div>
                </div>
            </div>
            <div class="heading_two"><img id="img-click"
                    src="https://cdn.shopify.com/s/files/1/0283/0185/2747/files/blm_36dad4a4-9b14-4ef8-9509-6a593f135aae_416x@2x.png?v=1588538421">
            </div>
            <div id="heading_second_row">
                <div></div>
                <div class="btn1"><button id="disappear"><a id="shop" class="heading_a">SHOP</a></button></div>
                <div><a class="heading_a" id="go-to-new">NEW!</a></div>
                <div><a class="heading_a">BRANDS</a></div>
                <div><a class="heading_a">EXPLORE</a></div>
                <div><a class="heading_a">EVENTS</a></div>
                <div><a class="heading_a">BLUEREWARDS</a></div>
                <div></div>
            </div>

            <!-- Hover Start -->
            <div id="shop_hover">
                <div id="first" class="one">
                    <p><a href="">SKIN CARE</a></p>
                    <p><a href="">MAKEUP</a></p>
                    <p><a href="">BATH AND BODY</a></p>
                    <p><a href="">HAIR</a></p>
                    <p><a href="">SUN AND TAN</a></p>
                    <P><a href="">SCENTS & HOME</a></P>
                    <P><a href="">MEN</a></P>
                    <P><a href="">GIFTS</a></P>
                </div>
                <div id="second" class="two"></div>
                <div id="third" class="one">
                    <P>BY CATEGORY</P>
                    <P><a href="">Shop All</a></P>
                    <P><a href="">Cleaners</a></P>
                    <p><a href="">Eye Care</a></p>
                    <p><a href="">Masks</a></p>
                    <p><a href="">Sets</a></p>
                    <p><a href="">Sun Care</a></p>
                    <p><a href="">Tools & Accessories</a></p>
                </div>
                <div id="fourth" class="one">
                    <p>FEATURED</p>
                    <p><a href="">Best Seller</a></p>
                    <p><a href="new.html">New Arrivals</a></p>
                    <p><a href="">Anti-Aging</a></p>
                    <p><a href="">Antioxidants</a></p>
                    <p><a href="">Skincare Tools</a></p>
                    <p><a href="">Supplements</a></p>
                    <p><a href="">Travel Size</a></p>
                    <p><a href="">Vitamin C</a></p>
                </div>
                <div id="fifth" class="one">
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/files/cooling_eye_gel_nav_114x114.jpg?v=1626722614" alt="">
                        <p><a href="">M-61</a></p>
                        <p><a href="">Hydraboosyt Cooling Eye Gel</a></p>
                        <br/>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/files/kiehl_s_nav_feature_114x114.jpg?v=1629317112" alt="">
                        <p><a href="">Kiehl's</a></p>
                        <spanp><a href="">Retinol daily Microdose Serum</a></span>
                    </div>
                </div>
            </div>
            <!-- Hover Ends -->
        </div>
        <div id="mySidenav" class="sidenav" style="font-size: 14px; color: #12284c;">
            <div id="top">
                <div id="top1">YOUR BAG</div>
                <div><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></div>
            </div>
            <hr/>
            <div id="middle">
                <div id="flex_box">
                    <div id="fb0"><img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-3605972610010-1_525x525.jpg?v=1629489864" alt=""></div>
                    <div id="fb1">
                        <p>KIEHL'S SINCE 1851</p>
                        <a href="">Anti-Aging Retinol Serum with Ceramides and Peptide</a>
                        <p>$60</p>
                    </div>
                    <div id="fb2">
                        <button>-</button>
                        <button>1</button>
                        <button>+</button>
                        <br/><br/>
                        <a href=""> REMOVE</a>
                    </div>
                </div>
            </div>
            <hr/>
            <div id="buttom">
                <P>Shipping, Taxes, Beauty Cards, and additional discounts applied at checkout</P>
                <a href=""><div class="view_bag">VIEW BAG</div></a>
            </div>
        </div>
        
    </header>
    <!-- Header Ends Here -->
    <!-- text slider start  -->

    <div id="slider">
        <figure>
            <div>FREE SHIPPING FOR BLUEREWARDS MEMBERS ></div>
            <div>FREE GIFTS WITH PURCHASE. BROWSE NOW ></div>
            <div>FREE SAMPLES WITH ALL ORDERS ></div>
            <div>GET 3X BLUEREWARDS ON HAIR PRODUCTS ></div>
            <div>FREE SHIPPING FOR BLUEREWARDS MEMBERS ></div>
        </figure>
    </div>

    <!-- test slider end -->

    <div id="bluewards"></div>

    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1" />
            <input type="radio" name="radio-btn" id="radio2" />
            <input type="radio" name="radio-btn" id="radio3" />
            <input type="radio" name="radio-btn" id="radio4" />
            <input type="radio" name="radio-btn" id="radio5" />
            <input type="radio" name="radio-btn" id="radio6" />

            <div class="slide first">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/files/m61-powerglow-peel-xs-hero-des_3b9c84ba-cd24-40ea-bd8e-9e6dd17ec106.jpg?v=1628532939" alt="" />
            </div>

            <div class="slide">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/files/loyalty-3x-hero-des-2.jpg?v=1629208453" alt="" />
            </div>
            <div class="slide">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/files/coop-kiehls-hero-des.jpg?v=1628532990" alt="" />
            </div>
            <div class="slide">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/files/m61-powerglow-peel-xs-hero-des_3b9c84ba-cd24-40ea-bd8e-9e6dd17ec106.jpg?v=1628532939" alt="" />
            </div>
            <div class="slide">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/files/loyalty-3x-hero-des-2.jpg?v=1629208453" alt="" />
            </div>
            <div class="slide">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/files/coop-kiehls-hero-des.jpg?v=1628532990" alt="" />
            </div>
        </div>
    </div>
    <!--image slider end here -->

    <!-- New Arrival Slide Show Start -->
    <div id="slide-new-arrival">
        <div id="slide-above">
            <p>NEW ARRIVALS</p>
        </div>
        <div class="slide-parent">
            <div id="slide-leftarrow" onclick="slideMoveLeft()">
                <button>&lt;</button>
            </div>
            <div class="slide-child" id="sc1">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-3605972610010-1_235x235_crop_center.jpg?v=1629489864"
                    alt="">
                <p>KIEHL'S SINCE 1851</p>
                <p><span style="cursor:pointer" onclick="openNav()">Anti-Aging Rentinol Serum</span></p>
                <p>$60</p>
            </div>
            <div class="slide-child" id="sc2">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-194251026169-1_235x235_crop_center.jpg?v=1628195108"
                    alt="">
                <p>NARS</p>
                <p>Climax Eyeshadow Palette</p>
                <p>$49</p>
            </div>
            <div class="slide-child" id="sc3">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-5060506361505-1_235x235_crop_center.jpg?v=1629380313"
                    alt="">
                <p>THE NUE CO</p>
                <p>Destress 360</p>
                <p>$55</p>
            </div>
            <div class="slide-child" id="sc4">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-860006685539-1_235x235_crop_center.jpg?v=1629234653"
                    alt="">
                <p>JENNY PATINKIN</p>
                <p>Cryo Glow Globes</p>
                <p>$70</p>
            </div>
            <div class="slide-child" id="sc5">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-color-air-850004373019-1_235x235_crop_center.jpg?v=1628195030"
                    alt="">
                <p>HOURGLASS</p>
                <p>Curator Eyeshadow</p>
                <p>$29</p>
            </div>
            <div class="slide-child" id="sc6">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-size-85oz-685428028913-1_235x235_crop_center.jpg?v=1627423091"
                    alt="">
                <p>BUMBLE AND BUMBLE</p>
                <p>Blonde Shampoo</p>
                <p>$31</p>
            </div>
            <div class="slide-child" id="sc7">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-size-67oz-685428028944-1_235x235_crop_center.jpg?v=1627422903"
                    alt="">
                <p>BUMBLE AND BUMBLE</p>
                <p>Blonde Conditioner</p>
                <p>$34</p>
            </div>
            <div class="slide-child" id="sc8">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-color-bodyheat-888066094887-1_235x235_crop_center.jpg?v=1629134891"
                    alt="">
                <p>TOM FORD</p>
                <p>Eye Color Quad</p>
                <p>$89</p>
            </div>
            <div id="slide-rightarrow" onclick="slideMoveRight()">
                <button>&gt;</button>
            </div>
        </div>
    </div>
    <!-- New Arrival Slide Show End -->

    <!-- Part After First Slide Show Start -->
    <div id="inbetween">
        <div><img
                src="https://cdn.shopify.com/s/files/1/0283/0185/2747/files/vitamin-c-tabbed_content_1000x.jpg?v=1613158144"
                alt=""></div>
        <div>
            <p>Skincare Superstar: Vitamin C</p>
            <p>This antioxidant powerhouse can utterly transform skin, making it brighter, smoother and more radiant. Is
                it part of your daily routine?</p>
        </div>
    </div>
    <!-- Part After First Slide Show End -->

    <!-- Best Seller Slide Show Start -->
    <div id="slide-new-arrival">
        <div id="slide-above">
            <p>BEST SELLERS</p>
        </div>
        <div class="slide-parent">
            <div id="slide-leftarrow" onclick="slideMoveLeft1()">
                <button>&lt;</button>
            </div>
            <div class="slide-child" id="scc1">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-color-bliss-656509018215-1.jpg?v=1628929779"
                    alt="">
                <p>CHANTECAILLE</p>
                <p>Skin Moisturizer</p>
                <p>$79</p>
            </div>
            <div class="slide-child" id="scc2">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-635494263008-1.jpg"
                    alt="">
                <p>SKINCEUTICALS</p>
                <p>C E Ferulic</p>
                <p>$166</p>
            </div>
            <div class="slide-child" id="scc3">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-size-30treatments-817237011774-1.jpg?v=1628281757"
                    alt="">
                <p>M-61</p>
                <p>PowerGlow Peel</p>
                <p>$30</p>
            </div>
            <div class="slide-child" id="scc4">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-size-50ml-656509701704-1.jpg?v=1620672835"
                    alt="">
                <p>CHANTECAILLE</p>
                <p>Bio Lifting Mask</p>
                <p>$50</p>
            </div>
            <div class="slide-child" id="scc5">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-color-bamboo-656509012022-1.jpg?v=1620672681"
                    alt="">
                <p>CHANTECAILLE</p>
                <p>Compact Makeup</p>
                <p>$74</p>
            </div>
            <div class="slide-child" id="scc6">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-5060534510043-1.jpg"
                    alt="">
                <p>THE LIGHT SALON</p>
                <p>Boost LED Mask</p>
                <p>$495</p>
            </div>
            <div class="slide-child" id="scc7">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/variant_images-size-20treatments-817237011415-1.jpg?v=1628281569"
                    alt="">
                <p>M-61</p>
                <p>PowerGlow Peel</p>
                <p>$36</p>
            </div>
            <div class="slide-child" id="scc8">
                <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/products/global_images-635494117004-1.jpg"
                    alt="">
                <p>SKINCEUTICALS</p>
                <p>Hydrating B5 Gel</p>
                <p>$35</p>
            </div>
            <div id="slide-rightarrow" onclick="slideMoveRight1()">
                <button>&gt;</button>
            </div>
        </div>
    </div>
    <!-- Best Seller Slide Show End -->

    <!-- Part Before Footer Start -->
    <div id="before-footer">
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/files/samples-content_block_705x705.jpg?v=1604551537"
                alt="">
            <p>FREE GIFTS WITH PURCHASE</p>
            <p>Stock up on all your favourite brands, then try something new on us</p>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/files/curbside-hp-content_block_705x705.jpg?v=1596135342"
                alt="">
            <p>SHOP SAFELY IN STORE</p>
            <p>In-store shopping, curbside pickup or complimentary ship to home</p>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0283/0185/2747/files/spa_menu_photo_705x705.jpg?v=1628018315"
                alt="">
            <p>BLUEMERCURY SPA</p>
            <p>Our luxurious spa services are customizable to your individual needs</p>
        </div>
    </div>
    <!-- Part Before Footer End -->

    <hr />

    <!-- Footer Start -->
    <div id="foot">
        <div id="foot-first">
            <p>Get Expert Beauty Insight & Offers</p>
            <input type="email" name="" id="email" placeholder="EMAIL ADDRESS">
            <button onclick="mailSent()">&rarr;</button>
            <div>To learn more about how we use your information and your rights, see Privacy Note</div>
            <div class="copyright">Copyright 2021 bluemercury. All Rights Reserved.</div>
        </div>
        <div>
            <p>BLUEMERCURY</p>
            <p>Our Company</p>
            <p>Store Locator</p>
            <p>Spa Menu</p>
            <p>Press</p>
            <p>Careers</p>
        </div>
        <div>
            <p>MY ACCOUNT</p>
            <p>My Account</p>
            <p>Blue Rewards</p>
        </div>
        <div>
            <p>CUSTOMER SERVICE</p>
            <p>Contact Us</p>
            <p>Help & FAQ</p>
            <p>Offers</p>
            <p>Klarna</p>
        </div>
        <div>
            <p>RESOURCES</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
            <p>Accessibility</p>
            <p>COVID-19 Updates</p>
        </div>
    </div>
    <!-- Footer End -->

</body>

</html>

<script src="js/index.js"></script>
<script src="js/header.js"></script>
<script src="js/shop.js"></script>