<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs", {title: "Login"}) %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/form.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/shop.css">
  </head>

  <body>
    <!-- Header -->
    <%- include("./partials/header.ejs") %>
    <!-- Header -->

    <div id="bluewards"></div>

    <form action="/login" method="post">
      <input type="email" placeholder="email" name="email" />
      <input type="password" placeholder="password" name="password" />
      <input type="submit" value="Login" />
    </form>

    <!--     <form id="customer-login" class="Form">
      <header class="Form_header">
        <h1>LOGIN</h1>
        <p>Please enter your e-mail and password:</p>
      </header>
      add your stye here
      <div class="centre">
        <span>Don't have an account?</span>
        <a href="create_one.html">Create one</a>
      </div>
    </form>
  
  //refer this for style

  <div class="Form_Box">
        <input
          id="Email"
          type="email"
          class="Form_Ip"
          name="user_email"
          placeholder="Email"
        />
        <label class="Form_Invisible" for="user_email">Email</label>
      </div>

      <div class="Form_Box" style="border: 1px solid #12284c; display: flex">
        <input
          id="Password"
          type="password"
          style="width: 330px; border: none"
          class="Form_Ip"
          name="password"
          placeholder="Password"
        />
        <button
          class="Help_btn"
          type="button"
          onclick="window.location.href='forgot_password.html'"
        >
          Forgot password?
        </button>
      </div>
      <label class="Form_Invisible" for="password">Password</label>

      <a>
        <button class="End_btn" type="submit">LOGIN</button>
      </a>
  -->
    <hr />
    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>
    <!-- Footer -->
  </body>
</html>
<script src="js/form.js"></script>
<script src="js/header.js"></script>
<script src="js/shop.js"></script>
