<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs", {title: "Login"}) %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/form.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/shop.css">
    <link rel="stylesheet" href="css/login.css">
  </head>

  <body>
    <!-- Header -->
    <%- include("./partials/header.ejs") %>
    <!-- Header -->

    <div id="bluewards"></div>
    <div id="new-main">
      <div>LOGIN</div>
      <div>Please enter your e-mail and password</div>
      <div>
        <form action="/login" method="post" id="new-login">
          <div><input type="email" placeholder="Email" name="email" /></div>
          <div><input type="password" placeholder="Password" name="password" /></div>
          <div><input type="submit" value="LOGIN" /></div>
        </form>
      </div>
      <div>Don't have an account? <a href="">Create one</a></div>
    </div>
    
    <hr />
    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>
    <!-- Footer -->
  </body>
</html>
<script src="js/form.js"></script>
<script src="js/header.js"></script>
<script src="js/shop.js"></script>
