body {
    font-size: 14px;
}
#head-id {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #12284c;
}
/* #head-id {
    text-align: center;
} */
#cart-products {
    color: rgba(18, 40, 76, 0.8);
}
#cart-products div {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 70%;
    margin: auto;
}
/* #cart-products div div:nth-child(1) {
    width: 60%;
    margin: auto;
} */
#cart-products div div img {
    height: 100px;
    margin: auto;
}
#cart-products div div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 0;
}
#cart-products div div:nth-child(2) p {
    margin-top: 0;
    margin-bottom: 0;
}
#cart-products div div:nth-child(2) p:nth-child(1) {
    color: #12284c;
}
#cart-products div div:nth-child(4) p {
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
}
#cart-products div div button {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    border: none;
    font-size: 20px;
    background-color: #e3e3e3;
}

.checkout-btn {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    margin-bottom: 50px;
}

.checkout-btn button {
    width: 30%;
    text-align: center;
}

.checkout-btn button:nth-child(1) {
    background-color: #12284c;
    color: white;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}
.checkout-btn button:nth-child(2) {
    background-color: #ebb734;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.subtotal {
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    margin: auto;
}

/* For Footer */

#foot {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    width: 90%;
    margin: 25px auto;
    grid-gap: 50px;
    color: #7d7d7d;
}

#foot div button {
    border: none;
    background: transparent;
}

#foot div input {
    background: transparent;
    border: none;
}

#foot div:nth-child(n+1) p:nth-child(1) {
    font-size: 14px;
}

#foot div:nth-child(n+1) p:nth-child(1)~p {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

#foot-first {
    font-size: 14px;
}

#foot-first p:nth-child(1) {
    font-size: 14px;
    color: #12284c;
}

#foot-first div:nth-child(4) {
    font-size: 14px;
    margin: 10px 0px;
    width: 80%;
}

.copyright {
    font-size: 10px;
}